@use 'src/styles/tokens' as *;

.country {
  display: flex;
  flex-direction: column;
  gap: $space-l;
}

.country__loading {
  text-align: center;
  font-style: italic;
}

.country__no-data {
  text-align: center;
  color: gray;
}
