@use 'src/styles/tokens' as *;
@use 'src/styles/mixins' as mix;

.page {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: $space-m $space-s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page__chart {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page__chart > * {
  display: block;
  width: 100%;
  max-width: 700px;
}

.page__loading {
  text-align: center;
  font-style: italic;
}

.page__return-home{
  display: flex;
  justify-content: center;
  margin-top: $space-m;

  button {
    padding: $space-xs $space-m;
    border-radius: 999px;
    border: 1px solid #0b868f;
    cursor: pointer;

    &:hover{
      opacity: 0.85;
    }
  }
}

@include mix.tablet {
  .page {
    padding: $space-l $space-m;
  }
}

@include mix.desktop {
  .page {
    padding: $space-xl 0;
  }
}


@keyframes skeleton-shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
