@use './../../../../styles/tokens' as *;
@use './../../../../styles/mixins' as mix;

.page-header {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: $space-m $space-s;
  display: flex;
  flex-direction: column;
  gap: $space-s;
}

.page-header__title {
  display: flex;
  justify-content: center;
  margin: 5px;

  h2 {
    margin: 0;
    background: #0b868f;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
  }
}

.page-header__indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 5px;
}

.page-header__indicator {
  padding: 10px;
  border: solid #0b868f 1px;
  border-radius: 10px;
  margin: 0;

  p {
    text-align: center;
    margin: 0;
  }

  .page-header__indicator-value {
    font-weight: bold;
    color: black;
  }
}

@include mix.tablet {
  .page-header__indicators {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@include mix.desktop {
  .page-header__indicators {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
  }
}