@use './styles/tokens' as *;
@use './styles/mixins';
@use './styles/layout';

/****** Global font family ******/
html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #3b3b3b;
}

/****** Typography ******/
h1{
  font-size: 1.5rem;
}